html
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.layout
{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
header
{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #4DC984;
}
.navbar
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_logo,
.navbar_logo_link
{
    padding: 20px 0;
    width: 140px;
    height: 70px;
}
.navbar_logo_img
{
    width: 100%;
    height: 100%;
}
.navbar_menu
{
    width: 255px;
    height: 40px;
}
.navbar_menu_thanh
{
    display: flex;
    list-style: none;
}
.navbar_menu_thanh
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.navbar_menu_thanh li
{
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #F0EFEF;
    padding: 0;
    margin: 0;
    font-weight: 500;
}
.navbar_menu_thanh_item_icon
{
    width: 40px;
    height: 40px;
    font-size: 1rem;
    background-color: white;
}
.navbar_menu_thanh_item_login
{
    height: 40px;
    width: 140px;
    font-size: 0.8rem;
    font-family: "Inter Grab Web", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #676767;
    background-color: white;
}
.navbar_menu_thanh_item_eng
{
    background-color: white;
    height: 40px;
    font-size: 0.8rem;
    width: 50px;
    color: #676767;
    font-family: "Inter Grab Web", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.content
{
    width: 100%;
    font-family: "Inter Grab Web", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.list
{
    font-weight: 400;
    font-size: 1rem;
    padding: 10px 0;
}
.list i
{
    padding: 0 10px;
}

.list a
{
    text-decoration: none;
    color: #1a3e98;
}
.list a:hover
{
    color: rgb(30,189,96);
}
.full
{
    width: 100%;
    display: flex;
}
.full_img
{
    width: 50%;
    height: 400px;
}
.full_img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.full_info
{
    width: 50%;
    display: block;
}
.full_info_layout
{
    width: 90%;
    margin: auto;
}
.swiper
{
    width: 100%;
    height: 340px;
    max-width: 100%;
}
.swiper-wrapper
{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.swiper-slide
{
    width: 50%;
    height: 100%;
    
}
.swiper-slide_link
{
    width: 100%;
    text-decoration: none;
    color: #676767;
    font-family: "Inter Grab Web", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.swiper-slide_link_img
{
    width: 100%;
    height: 155px;
    object-fit: cover;
    border-radius: 10px;
}
.swiper-slide_link_name
{
   margin-top: -10px;
}
.swiper-slide_link_name p
{
    
    font-family: "Inter Grab Web", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #1C1C1C;
    font-size: 2.2rem;
    font-weight: 700;
}
.swiper-slide_link_note
{
    width: 100%;
    font-family: "Inter Grab Web", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    color: rgb(103,103,103);
    font-size: 1.1rem;
}
.mySwiper
{
    padding-bottom: 50px;
}
.swiper-slide_link_rowinfo
{
    margin-top: 4px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgb(103,103,103);
    font-size: 1.1rem;
}
.swiper-slide_link_rowinfo_point
{
    display: inline-block;
    align-items: center;
}
.swiper-slide_link_rowinfo_point span
{
    width: 24px;
    height: 24px;
    color: #F7C942;
}
.swiper-slide_link_rowinfo_info
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.swiper-slide_link_sale
{
    display: inline-block;
    align-items: center;
}
.swiper-slide_link_sale
{
    display: flex;
    color: rgb(103,103,103);
    font-size: 1.1rem;
    margin-top: 4px;
    gap: 5px;
}
.gia
{
    color: rgb(103,103,103);
    font-size: 1.1rem;
    padding: 10px 0;
}
.buy_cart a
{
    text-decoration: none;
    color: white;
}
.buy_cart
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    font-size: 1.3rem;
    color: white;
}

.cart
{
    width: 45%;
    height: 50px;
    background-color: #00B14F;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy
{
    width: 45%;
    height: 50px;
    background-color: #00B14F;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}
footer
{
    width: 100%;
    display: block;
    background-color: #00B14F;
    margin-top: 50px;
}
.footer_layout
{
    width: 89%;
    max-width: 1200px;
    margin: auto;
}
.footer_logo
{
    width: 170px;
    height: 80px;
    padding: 35px 0;
}
.footer_logo_img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer_line
{
    width: 100%;
    border: 1px solid #4DC984;
}
.footer_info
{
    width: 100%;
    font-family: "Inter Grab Web", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    padding: 35px 0;
}
.footer_info_colum1,
.footer_info_colum2,
.footer_info_colum3,
.footer_info_colum4
{
    width: 25%;
    
}   
.footer_info_item
{
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 0;
}
.footer_info a
{
    color: #FFFFFF;
    text-decoration: none;
}
.footer_info_mxh
{
    font-size: 1.7rem;
    display: flex;
    gap: 10%;
}
.footer_bottom
{
    width: 100%;
    display: flex;
    padding: 35px 0;
}
.footer_bottom_dowload,
.footer_bottom_listinfo
{
    width: 50%;
    display: flex;
}
.footer_bottom_dowload
{
    gap: 20px;
}
.footer_bottom_dowload_ios,
.footer_bottom_dowload_adr
{
    width: 165px;
    height: 50px;
}
.footer_bottom_dowload_img
{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.footer_bottom_listinfo
{
    font-family: "Inter Grab Web", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8rem;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}
.footer_bottom_listinfo a
{
    color: #FFFFFF;
    text-decoration: none;
}
