html
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
*
{
    font-family: "Inter Grab Web", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
}
header
{
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    border: 1px solid black;
}
.layout
{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 88px;
    display: flex;
    justify-content: space-between;
}
.header_logo_input
{
    display: flex;
    height: 100%;
    gap: 50px;
    align-items: center;
}
.header_logo
{
    width: 140px;
    height: 60px;
    
}
.header_input
{
    display: flex;
    width: 360px;
    height: 40px;
    border: 1px solid black;
    font-size: 1.5rem;
    color: #EE6352;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
}
.header_input input
{
    height: 96%;
    width: 335px;
    border: none;
    border-radius: 5px;
}
.header_input input::placeholder
{
    color: #C9C5C5;
    font-family: "Inter Grab Web", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
}
.header_input input:focus
{
    outline: none;
}
.header_feature
{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}
.header_feature_cart
{
    width: 40px;
    height: 40px;
    font-size: 1rem;
}
.header_feature_login
{
    height: 40px;
    width: 140px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #676767;
}
.header_feature_eng
{
    background-color: white;
    height: 40px;
    font-size: 0.8rem;
    width: 50px;
    color: #676767;
}
.header_feature_cart,
.header_feature_login,
.header_feature_eng
{
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #F0EFEF;
    padding: 0;
    margin: 0;
    font-weight: 500;
}